[submodule "projects/geo-explorer"]
	path = projects/geo-explorer
	url = https://github.com/nuwandev/geo-explorer.git
[submodule "projects/customer-item-form"]
	path = projects/customer-item-form
	url = https://github.com/nuwandev/customer-item-form.git
[submodule "projects/day-of-week-finder"]
	path = projects/day-of-week-finder
	url = https://github.com/nuwandev/day-of-week-finder.git
[submodule "projects/html-reference-website"]
	path = projects/html-reference-website
	url = https://github.com/nuwandev/html-reference-website.git
[submodule "projects/KoopeKade-web-AWTP"]
	path = projects/KoopeKade-web-AWTP
	url = https://github.com/iCET-Computer-Engineering-Technology/KoopeKade-web-AWTP.git
[submodule "projects/school-website"]
	path = projects/school-website
	url = https://github.com/nuwandev/school-website-activity.git
[submodule "projects/chat-bot"]
	path = projects/chat-bot
	url = https://github.com/nuwandev/chat-bot.git
